body{
	background-color: #EEEEEE;
	font-family: 'Nunito', sans-serif;
}
p{
	margin: 0px;
}
.glyphicon{
	font-size: 30px;
}

/* ========== navbar ============= */

.navbar{
	border-radius: 0px;
	background-color: white;
	color: #6E6E6E;
	border-bottom: 1px solid #6E6E6E;
	font-size: 1.2em;
}

.navbar a{
	text-decoration: none;
	color: #6E6E6E;
}
.navbar a:hover{
	text-decoration: none;
	background-color: white;
	color: #6E6E6E;
}

.active{
	background-color: white;
	font-weight: bold;
	border-bottom: 3px solid black;
	color: black !important;
}

#navbarImage1{
	height: 37px;
	width: 37px;
	margin-top: 8px;
}

#navbarImage2{
	height: 33px;
	width: 33px;
}

#menu{
	position: relative;
	left: 50%;
	margin-left: -231px;
}

#recipientHome{
	padding-left: 50px;
	padding-right: 50px;
}
#recipientLearn{
	padding-left: 50px;
	padding-right: 50px;
}
#recipientWallet{
	padding-left: 50px;
	padding-right: 50px;
	color: black;
}
/* ============== certificates =================== */
.row{
	margin-bottom: 1.3em;
}

.typeOfCertificate{
	color: #6E6E6E;	
	margin-bottom: 1.5em;
}
.certificate{
	width: 100%;
	background-color: white;
	padding-left: 0;
	padding-right: 0;
}
.certificateImage{
	position: relative;
	float: left;
	height: 145px;
	width: 150px;
}
.infoOfCertificate{
	font-size: 18px;
	position: relative;
	float: left;
	margin-left: 2em;
	color: #6E6E6E;
	margin-top: 34px; 
}
.glyphicon.certificateGlyphs{
	margin-top: 55px;
}

.addedInformation{
	display: none;
	margin-top: 20px;
	padding-bottom: 1em;
}
.addedCertificateImage{
	height: 500px;
}
.verifyButton{
	border-radius: 0;
	background-color: black;
	color: white;
	margin-top: 0.5em;
	margin-left: 45%;
}
.verifyButton:hover{
	color: white;
}
.certificate.container-fluid.row{
	margin-bottom: 0px;
}